__pycache__/DatabAIse.cpython-312.pyc
__pycache__/Pages.cpython-312.pyc
courses/__pycache__/ChooseCoursePage.cpython-312.pyc
courses/__pycache__/Course1Page.cpython-312.pyc
db_generation/__pycache__/Gen01ChooseTopicPage.cpython-312.pyc
__pycache__/DatabAIse.cpython-312.pyc
__pycache__/Pages.cpython-312.pyc
courses/__pycache__/ChooseCoursePage.cpython-312.pyc
courses/__pycache__/Course1Page.cpython-312.pyc
db_generation/__pycache__/Gen02ChooseTablesPage.cpython-312.pyc
__pycache__/DatabAIse.cpython-312.pyc
__pycache__/DatabAIse.cpython-312.pyc
__pycache__/Pages.cpython-312.pyc
courses/__pycache__/ChooseCoursePage.cpython-312.pyc
courses/__pycache__/Course1Page.cpython-312.pyc
db_generation/__pycache__/Gen03ChooseColumnsPage.cpython-312.pyc
db_generation/__pycache__/Gen04CreateDatabasePage.cpython-312.pyc
db_generation/__pycache__/Gen05DownloadPage.cpython-312.pyc
db_generation/__pycache__/UploadPage.cpython-312.pyc
__pycache__/CssStyles.cpython-313.pyc
.nicegui/storage-user-8e7254ce-2159-4f4a-beeb-3b67b3465457.json
__pycache__/DatabAIse.cpython-313.pyc
__pycache__/DatabAIse.cpython-313.pyc
__pycache__/InstructionsPage.cpython-313.pyc
__pycache__/Pages.cpython-313.pyc
b/__pycache__/BChooseCoursePage.cpython-313.pyc
b/__pycache__/BCoursePage.cpython-313.pyc
b/__pycache__/BInstructionsPage.cpython-313.pyc
courses/__pycache__/ChooseCoursePage.cpython-313.pyc
courses/__pycache__/CoursePage.cpython-313.pyc
__pycache__/DatabAIse.cpython-313.pyc
__pycache__/InstructionsPage.cpython-313.pyc
__pycache__/Pages.cpython-313.pyc
courses/__pycache__/ChooseCoursePage.cpython-313.pyc
db_generation/__pycache__/Gen01ChooseTopicPage.cpython-313.pyc
db_generation/__pycache__/Gen02ChooseTablesPage.cpython-313.pyc
db_generation/__pycache__/Gen03ChooseColumnsPage.cpython-313.pyc
db_generation/__pycache__/Gen04CreateDatabasePage.cpython-313.pyc
db_generation/__pycache__/UploadPage.cpython-313.pyc
licenses/__pycache__/Licenses.cpython-313.pyc
db_generation/__pycache__/Gen01ChooseTopicPage.cpython-313.pyc
db_generation/__pycache__/Gen02ChooseTablesPage.cpython-313.pyc
db_generation/__pycache__/Gen03ChooseColumnsPage.cpython-313.pyc
db_generation/__pycache__/Gen04CreateDatabasePage.cpython-313.pyc
db_generation/__pycache__/UploadPage.cpython-313.pyc
__pycache__/DatabAIse.cpython-312.pyc
.nicegui/storage-user-4956e391-6bbd-451d-8e78-29481c62e12d.json
__pycache__/DatabAIse.cpython-312.pyc
__pycache__/DatabAIse.cpython-313.pyc
__pycache__/InstructionsPage.cpython-313.pyc
/__pycache__
/docs/_build
/.idea
/.nicegui
last_run.log
