__pycache__/DatabAIse.cpython-312.pyc
__pycache__/Pages.cpython-312.pyc
courses/__pycache__/ChooseCoursePage.cpython-312.pyc
courses/__pycache__/Course1Page.cpython-312.pyc
db_generation/__pycache__/Gen01ChooseTopicPage.cpython-312.pyc
__pycache__/DatabAIse.cpython-312.pyc
__pycache__/Pages.cpython-312.pyc
courses/__pycache__/ChooseCoursePage.cpython-312.pyc
courses/__pycache__/Course1Page.cpython-312.pyc
db_generation/__pycache__/Gen02ChooseTablesPage.cpython-312.pyc
__pycache__/DatabAIse.cpython-312.pyc
__pycache__/DatabAIse.cpython-312.pyc
__pycache__/Pages.cpython-312.pyc
courses/__pycache__/ChooseCoursePage.cpython-312.pyc
courses/__pycache__/Course1Page.cpython-312.pyc
db_generation/__pycache__/Gen03ChooseColumnsPage.cpython-312.pyc
db_generation/__pycache__/Gen04CreateDatabasePage.cpython-312.pyc
db_generation/__pycache__/Gen05DownloadPage.cpython-312.pyc
db_generation/__pycache__/UploadPage.cpython-312.pyc
